<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @doctor.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @doctor.lname %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @doctor.speciality %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
